@charset "UTF-8";
@import "bootstrap.css";

/* CSS Document */

html {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body{
  margin-top:15%;
  background-color:#E6E3D5;
  z-index:-3;
}


head{
	margin-right: 10%;
	margin-left:10%;
	padding-left:10%
}

footer {
  float:bottom;
  position:relative;
  bottom:0;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 265px;
	padding-top: 65px;
	padding-right: 0px;
	padding-bottom: 25px;
	padding-left:0px;
  background-image: initial;
  background-position-x:initial;
  background-position-y:initial;
  background-size:initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-origin:initial;
  background-color:#99968A;
  color: #7d8186;

}

.container-fluid{
padding-right:0px;
padding-left:0px;
}

.main{
	background-color: #BDBAAC;
}

.site-header{
	text-align:center;
	background-color: #99968A;
	}

.pagecenter {
		width: 60%;
		margin:0 auto;
		background-color:#BDBAAC;
		border-color:#2D2C30;
		border-width:1px;
		}

.center{
		margin:0 auto;
		text-align: center;
		width:auto;
		vertical-align:middle;
		}
.floatcenter{
		float:center;
	}
		
		
.padding{
		border: 100px solid #000;
		}
.float{
		float;
		}

		
h1{
	text-align: center;
	color: #4A4A50;
	}

h2{
	text-align: center;
	font-color: #4A4A50;
}

third{
	width: 33%;
	height:auto;
	float: left;
}
.radiotab{


}

.jumbotron{
	color: #4A4A50;
	background-color: #BDBAAC;
}

.navbar{
	vertical-align:center;
	background-color: #99968A;
	width: 100%;
	top:0;
	right:0;
	align-content:middle;
	max-height: 150px;
	border-bottom-style:none;
	border-bottom-color:red;
	align-content:center;
		user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	margin: 0 auto;
	z-index:1000;
	position:absolute;
}

.navbar-brand {
	text-align:center;
}

p{
	color: #4A4A50;
}

a{
	text-decoration: none;
	text-decoration-style:none;
	color:#4A4A50;;
}

.bloutline{
	-webkit-text-stroke: 0.5px #110064;
	text-shadow:
		-1px -1px 0 #110064,
		1px -1px 0 #110064,
		-1px 1px 0 #110064,
		1px 1px 0 #110064;

}

a:visited{
	font-color: #E6E3D5;
}

.navbartxt{
	text-align:center;
	color:#E6E3D5;
	font-size: 2em;
	user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
}

.tabtxt{
	text-align:center;
	font-size: 1em;
}


.twitter-timeline{
	border-radius:0px;
}

.thumbnail800{
	max-height:500px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	overflow-x:true;
}
 
.cd-tabs {
  position: relative;
  width: 90%;
  max-width: 960px;
  margin: 2em auto;
}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  background: -webkit-linear-gradient( right , #f8f7ee, rgba(248, 247, 238, 0));
  background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #f8f7ee;
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}
@media only screen and (min-width: 768px) {
  .cd-tabs::after {
    display: none;
  }
  .cd-tabs nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
    z-index: 1;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs nav {
    position: relative;
    float: none;
    background: transparent;
    box-shadow: none;
  }
}

.cd-tabs-navigation {
  width: 360px;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #c3c2b9;
  padding-top: 34px;
}
.no-touch .cd-tabs-navigation a:hover {
  color: #29324e;
  background-color: rgba(233, 230, 202, 0.3);
}
.cd-tabs-navigation a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 2px 0 #f05451;
  color: #29324e;
}
.cd-tabs-navigation a::before {
  /* icons */
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -10px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../img/vicons.svg");
  background-repeat: no-repeat;
}
.cd-tabs-navigation a[data-content='inbox']::before {
  background-position: 0 0;
}
.cd-tabs-navigation a[data-content='new']::before {
  background-position: -20px 0;
}
.cd-tabs-navigation a[data-content='gallery']::before {
  background-position: -40px 0;
}
.cd-tabs-navigation a[data-content='store']::before {
  background-position: -60px 0;
}
.cd-tabs-navigation a[data-content='settings']::before {
  background-position: -80px 0;
}
.cd-tabs-navigation a[data-content='trash']::before {
  background-position: -100px 0;
}
.cd-tabs-navigation a[data-content='inbox'].selected::before {
  background-position: 0 -20px;
}
.cd-tabs-navigation a[data-content='new'].selected::before {
  background-position: -20px -20px;
}
.cd-tabs-navigation a[data-content='gallery'].selected::before {
  background-position: -40px -20px;
}
.cd-tabs-navigation a[data-content='store'].selected::before {
  background-position: -60px -20px;
}
.cd-tabs-navigation a[data-content='settings'].selected::before {
  background-position: -80px -20px;
}
.cd-tabs-navigation a[data-content='trash'].selected::before {
  background-position: -100px -20px;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-navigation {
    /* move the nav to the left on medium sized devices */
    width: 80px;
    float: left;
  }
  .cd-tabs-navigation a {
    height: 80px;
    width: 80px;
    padding-top: 46px;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 2px 0 0 #f05451;
  }
  .cd-tabs-navigation a::before {
    top: 22px;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-navigation {
    /* tabbed on top on big devices */
    width: auto;
    background-color: #f8f7ee;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
  }
  .cd-tabs-navigation a {
    height: 60px;
    line-height: 60px;
    width: auto;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 0 2.8em 0 4.6em;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 0 2px 0 #f05451;
  }
  .cd-tabs-navigation a::before {
    top: 50%;
    margin-top: -10px;
    margin-left: 0;
    left: 38px;
  }
}

.cd-tabs-content {
  background: #ffffff;
}
.cd-tabs-content li {
  display: none;
  padding: 1.4em;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #8493bf;
  margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
  .cd-tabs-content {
    min-height: 480px;
  }
  .cd-tabs-content li {
    padding: 2em 2em 2em 7em;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-content {
    min-height: 0;
  }
  .cd-tabs-content li {
    padding: 3em;
  }
  .cd-tabs-content li p {
    font-size: 16px;
    font-size: 1rem;
  }
}

.imgbox{
	width: 25%;
	horizontal-align: left;
	background-color: black;
}

.imgboxcontainer{
	img-width:auto;
	border: gray;
	border-width: 1px;
}

.postbox{
	width:73%;
	horizontal-align: right;
	margin: 1%;
	border-color: blue;
	border-width: 1;
}

.postboxcontainer{
	alight: left;
}

.sketchgrid{

	display: inline-block;
	overflow: auto;
	padding: 5px;
	border-bottom-width:5px;
	border-style: solid;
	
}

.mt-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	
}



.mt-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align:top;
}

.mt-grid li > a,
.mt-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position:center;
}

.mt-grid li .mt-hidden {
	height: 0;
	width: 0;
	opacity: 0;
	overflow:hidden;
}

.mt-grid li.mt-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.mt-expander{
	position: absolute;
	background: #ddd;
	top: auto;
	left:0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 100%;
	overflow: scroll;
}

.mt-expander-inner{
	padding: 50px, 30px;
	height: 100%;

}

.mt-close {
	position-z: -1;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.mt-close::before,
.mt-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	transform: rotate(45deg);
}

.mt-close::after {
	transform: rotate(-45deg);
}

.mt-close:hover::before,
.mt-close:hover::after {
	background: #333;
	overflow: hidden;
	position: relative;
	padding: 0 0;
}

.mt-details {
	float: bottom;
	padding-right:2%;
}

.mt-content{
	height:0;
	width: 0;
	opacity: 0%;
	overflow: hidden;
}


.mt-fullimg {
	padding-top: 2%;
	padding-left:10%;
	padding-right:10%;
	width:100%;
	float:center;
}

.mt-fullimg img {
	display: inline-block;
	max-width: 100%;
	
}

.mt-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.mt-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #63616B;
}

.mt-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.mt-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.mt-details a:hover {
	border-color: #999;
	color: #999;
}

.mt-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	animation: loader 0.5s infinite ease-in-out both;
}

.mt-toggle{
	display:none;
}

.mt-img{
	width: 80%;
}

p.about{
	text-align: center;
	font-size: 20;
}

.border{
	border-color: #231F20;
	border-width: 1%;
	border-top-style: inset;
	border-radius: 25px;
	
}

h1.title{
	
	font-style:oblique;
}

/*og-grid courtesy of Mary Lou from Tympanus.net*/

.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	
}



.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align:top;
	height: 5;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position:center;
}

.og-grid li .og-hidden {
	height: 0;
	width: 0;
	opacity: 0;
	overflow:hidden;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #231F20;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander{
	position: absolute;
	background: #99968A;
	top: auto;
	left:0;
	width: 100%;
	margin-top: 10px;
	text-aling: left;
	height: 0;

}

.og-expander-inner{
	padding: 50px, 30px;
	height: 100%;

}

.og-close {
	position-z: -1;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	transform: rotate(45deg);
}

.og-close::after {
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
	overflow: hidden;
	position: relative;
	padding: 0 0;
}

.og-details {
	float: bottom;
	padding-right:2%;
}

.og-fullimg {
	padding-top: 2%;
	padding-left:10%;
	padding-right:10%;
	max-width:1020px;
	float:center;
}

.og-fullimg img {
	display: inline-block;
	max-width: 100%;
	
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
	color: #4A4A50;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #4A4A50;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #4A4A50;
	color: #4A4A50;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	animation: loader 0.5s infinite ease-in-out both;
}


@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-o-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-ms-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { width: 100% }
	.og-details { float: none; width: 100%; }
	
}

/*end og-grid*/


.sig{
	position-x:50%;
	width:auto;
	height: auto;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 150px;
	border-style: solid;
	border-color: #000000;
	transition-duration: 1s;
	transition-property:border-color, background-color, border-radius;
}

.sig:focus, .sig:active, .sig:hover{
	border-color: blue;
	border-radius: 100px;
	background-color: orange;
}

/*Automata Styling*/
.st0{fill:#E6E3D5;}
.st1{opacity:.5;fill:#7A7883;}
.st2{opacity:.75;fill:#47453F;}
.st3{fill:none;}
.sticon0{fill:#4A4A50;}
.sticon1{fill:#63616B;}
.sticon2{fill:#97959F;}
.sticon3{fill:#2D2C30;}
.sticon4{fill:#7A7883;}
.sticon5{fill:#47453F;}
.sticon6{fill:#BDBAAC;}

.menublock{
	z-index:5;
	position:relative;
}

li.activemata > div> a > div > svg > g .svginactive{
	opacity: 0;
}


input[type=checkbox]{
	display:none;
}

label > svg{
	display:inline;
}

li.autodota{
	background: url('./images/MenuButton.svg') no-repeat left top;
	height:auto;
	padding-left: 44px;
	vertical-align:center;
	font-size:20;
	color: #E6E3D5;
	float:center;
	display:block;
	width: 100%;
	border-color: #4A4A50;
	background-color: #99968A;
	margin-bottom:2px;
}

li.autobox{
	text-align:center;
	background-color: #99968A;
}

.autofiller{
	display:box;
	background-color:#99968A;
	height:100px;
	z-index:3;
	position:relative;
	text-align:center;
	vertical-align:bottom;
}

ul.autobox{
	text-align:left;
	background-color: #99968A;
	top:-130px;
	list-style:none;
}

h1.autotitle{
	text-align:center;
	
}


ul.dropdownmenu{
	display:none;
	z-index:3;
	position:relative;
	top:-140px;
	overflow:hidden;
}


ul.dropdownhover{
	opacity:0.0;
	z-index:-1000;
	position:relative;
	padding:0;
	height:0;
	color: #4A4A50;
	font-size: 2em;
	margin-top: .67em;
	margin-bottom: .4em;
	text-align: center;
	font-style: bold;
	overflow:hidden;
	transition:0.15s;
	transform-origin:top center;
	transform:translate(0px,0px);
}

ul.dropdownhover:hover{
	display:box;
	height:100%;
}

ul.autobox h1{
	text-align:50%;
}

a > li.autodota{
	padding-top:5px;
	padding-bottom:5px;
}

li.autodota:hover{
	background-color:#63616B ;
}

li:hover > a > svg > g > svg.svgactive {
	opacity:1;
	border-bottom-color:black;
}

.menublock:hover svg g .svginactive{
	opacity:0.5;
	border-color:black;
	
	}
	
div.toggle{
	overflow:hidden;
}
	
.menublock:hover svg g .svgactive{
	opacity:0.5;
	border-color:black;
}
	
.menublock:focus > .svginactive{
	opacity:1;
}



div.toggle:hover ul.dropdownhover,
div.toggle:active ul.dropdownhover{
	animation:slide-down;
	animation-duration:0.15s;
	opacity:1.0;
	transform:translate(0px,-0px);
	transition:0.15s;
	height:100%;
}

div.toggle:hover:after ul.dropdownhover,
div.toggle:active:after ul.dropdownhover{
	opacity:1.0;
	animation:slide-up;
	animation-duration:0.1s;
	height:0%;
}


input[type=checkbox]:checked ~ ul.dropdownmenu{
	display:block;
	animation:slide-down;
	animation-duration:0.15s;
	width: auto;
}

input[type=checkbox]:checked ~ label div svg g .svginactive {
	opacity:0;
}

input[type=checkbox]:checked ~ label div svg g .activebacksvg{
	
	animation:fade-in;
	animation-duration:1s;
}

input[type=checkbox]:checked~ ul.dropdownhover{
	opacity:1.0;
	transform:translate(0px,-0px);
	height:100%;
}

.posttoggle{
	border-bottom:5px;
	background-color:#6f6c64;
	fill:#6f6c64;
	border-style:solid;
	border-color:#6f6c64
	
}

.postbox p.about{
	text-align:left;
	
}

.postbox p.about a{
	color:blue;
}

p.about > br{
	line-height:200%;
	display:block;
	margin:10px 0;
}

div.postcontent{
	height:0%;
	opacity:0;
	position: absolute;
	float: right;
	margin: auto 0;
	z-index:-1999999;
}
label div.postcontent img{
	width:190%;
}
label div.posthover{
	opacity:0;
	transition:0.5s;
	height:auto;
	width:auto;
	position:absolute;
	horizontal-align:center;
	display:block;
}

label:hover div.posthover{
	opacity:1.0;
	transition:0.5s;
}

input[type=checkbox]:checked~ label ~ div.postcontent{
	max-width:40%;
	height:0%;
	opacity:1.0;
	transition: height 0.15s;
	background-color:#FFF;
	z-index:1000;
}


.menublock{
	width: 100%;
	display:block;
	margin: 0 auto;
}

.navblock{
	width:20%;
	overflow:hidden;
}

ul.dropdownmenu > br{
	height:4px;
} 

ul.nobullet{
	list-style-type: none;
	padding:0;
	margin:0;
}

/*nav-tabs override*/
.nav-tabs{
	border-style:none;
	border-width:0;
	border:none;
	color: none;
	background-color: none;
	padding-right:0;
	
}

nav {
	padding:0;
	padding-left:20%;
	padding-right:20%;
	margin: 0 auto;
	z-index:6;
	float:center;
}

label{
	margin-bottom:0px;
	width:100%;
	box-sizing:none;
	overflow:hidden;
}

.nav-tabs > li > a {
	border: 0px transparent;
	border-radius:0 0 0 0;
	text-decoration:none;
	
	padding-right:0;
}


.center-nav{
	margin: 0 auto;
}


/*fadein */
.fadein {
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
}


/* Portfolio specific material */

.home{
	display:box;
	background-color: #4A4A50;
	padding-top: 25px;
	width: auto;
	height: 100px;
}

.sig{
	width:auto;
	height: auto;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 150px;
	border-style: solid;
	border-color: #000000;
	transition-duration: 1s;
	transition-property:border-color, background-color, border-radius;
}

.sig:focus, .sig:active, .sig:hover{
	border-color: blue;
	border-radius: 100px;
	background-color: orange;
}

.img-container{
	vertical-align:middle;
	overflow-x:scroll;
	
	
}

.togglecontainer{
	width: 250px;
	height:250px;
	align: center;
	padding-left: 10px;
	padding-right:10px;
	padding-bottom:5px;
	
}

.artcontainer{
	width: auto;
	align: center;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 5px;
}


.statement{
	width: 80%;
	text-align:left;
	margin-left: 10%;
}

.info{
	text-align:left;
	margin-left: 2%;
}

p.italic{
	font-style:italic;
	color: #898989;
	font-size: 0.9em;
}

.leftfloat{
	float: left;
}

.rightfloat{
	float:right;
}

.st9:hover{
	transform: translate(0, 10px);
}

.ghost{
	display:none;
	opacity:0;
	margin-bottom:0px;
}

/*fadein */
.fadein {
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
}

@keyframes fadein{
	from {opacity: 0;}
	to {opacity: 1;}
}

/* Gecko */
@-moz-keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* Webkit */
@-webkit-keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* IE */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Opera old */
@-o-keyframes fadein {
	from { opacity 0; }
	to { opacity 1; }
}
/*fadeout*/

.fadeout{

}

.fadeout: active, .fadeout:hover {
	float: left;
	-webkit-animation:fadeout 2s;
	-moz-animation: fadeout 2s;
	-ms-animation: fadeout 2s;
	-o-animation: fadein 2s;
	animation: fadout 2s;
}

@-keyframes fadeout{
	from {opacity: 1;}
	to {opacity: 0;}
}

@-moz-keyframes fadeout{
	from {opacity: 1;}
	to {opacity: 0;}
}

@-ms-keyframes fadeout {
	from {opacity: 1;}
	to{opacity: 0;}
}

@-webkit-keyframes fadout {
	from{opacity: 1;}
	to{opacity: 0;}
}

@-o-keyframes fadeout{
	from {opacity: 1;}
	to {opacity: 0;}
}

/* Outline Out*/

.outline-out{
	display: inline-block;
	vertical-align: middle;
	-webkit-transform:translateZ(0);
	transfrom: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility:hidden;
	-moz-osx-font-smoothing:grayscale;
	position: relative;
}

.outline-out:before {
	content: '';
	position: absolute;
	border: #11111111 solid 4px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: top, right, bottom, left;
	transition-property: top, right, bottom, left;
}

.outline-out:hover:before, outline-out:focus:before, outline-out:active:before {
	top: -8px;
	bottom: -8px;
	right: -8px;
	left: -8px;
}

@-keyframes fadeout{
	100%{
		top: -12px;
		bottom: -12px;
		right: -12px;
		left: -12px;
		opacity:0;
	}
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(1, 1, 1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: blue solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}


/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/*Slide-Up animation*/
@keyframes slide-up{
	from{transform-origin:top center;transform:translate(0px,-0);opacity:1;}
	to{transform-origin:top center;transform:translate(0px,-250px);opacity:0;}
}

/*Slide-Down animation */
@keyframes slide-down{
	from {transform-origin:top center;transform:translate(0px,-250px);opacity:0;}
	to {transform-origin:top center;transform:translate(0px,-0);opacity:1;}
}

/* Gecko */
@-moz-keyframes slide-down{
	from {transform:scale(1);transform-origin:top -110px;transform:translate(0px,-100px);}
	to {transform:scale(1);transform-origin:top -0;transform:translate(0px,0px);}
}
/*Webkit*/
@-webkit-keyframes slide-down{
	from {transform:scale(1);transform-origin:top -110px;transform:translate(0px,-100px);}
	to {transform:scale(1);transform-origin:top -0;transform:translate(0px,0px);}
}
/*IE*/
@-ms-keyframes slide-down{
	from {transform:scale(1);transform-origin:top 110px;transform:translate(0px,-100px);}
	to {transform:scale(1);transform-origin:0 0;transform:translate(0px,0px);}
}
/*Opera old*/
@-o-keyframes slide-down{
	from {transform:scale(1);transform-origin:top center;transform:translate(0px,-100px);}
	to {transform:scale(1);transform-origin:top center;transform:translate(0px,0px);}
}


@keyframes fadein{
	from {opacity: 0;}
	to {opacity: 1;}
}

/* Gecko */
@-moz-keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* Webkit */
@-webkit-keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* IE */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Opera old */
@-o-keyframes fadein {
	from { opacity 0; }
	to { opacity 1; }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (min-width: 768px) and (max-width: 979px) {
	.pagecenter{
		width: 750px;
		margin:0 auto;
		}
	.center{
		width:100%;
		height:15%
	}
	nav{
		padding-left:0;
		padding-right:0;
		margin:auto 0;
	}
 
}
@media (max-width: 767px) {
	.pagecenter{
		width: 90%;
		margin:0 auto;
		}
	nav{
		padding-left:0;
		padding-right:0;
		margin:auto 0;
	}
	.navblock{
		float:center;
	}
	.dropdownhover{
		position:fixed;
		fit-content(200px);
		margin-left:auto;
		
	}
	.hoverleft{
		float:left;
	}
 } 

