@charset "UTF-8";
/* CSS Document */

body {
	background-color:#000066;
}
h1 {

	color:white;
	font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
	font-size:80px;
	text-align:center;
}

p {
	color:white;
	font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
}

.pagecenter {
	margin:0 auto;
	text-align: center;
	width: auto;
}

